body {
    background: black;
    color: lime;
    font-family: monospace;
}

a, a:hover, a:visited {
    color: magenta;
}

#myKanban {
    overflow-x: auto;
    padding: 20px 0;
}

.success {
    background: #00B961;
}

.info {
    background: #2A92BF;
}

.warning {
    background: #F4CE46;
}

.error {
    background: #FB7D44;
}

.title {
    margin-top: 150px;
    text-align: center;
}

.subtitle {
    text-align: center;
}

.text-index {
    margin-left: 600px;
    color: black;
    border: 2px solid black; 
}

.textarea-div {
    display: inline-flex;
    margin-top: 20px;
    margin-left: 15px;
}

.button-index {
    margin-left: 10px;
    background-color: white;
    color: black;
    border: 2px solid black; 
}




